@page
@model Psoft.Pages.WebsitePages.CostEstimationModel
@{ }
<!DOCTYPE html>

<html lang="en">


<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>


<script>
    tr { display: block; float: left; }
    th, td { display: block; }</script>
<!-- Editable table -->
<div class="card">


    <span style="display:none;">@{int i = 0;}</span>


    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">
        <i class="fas fa-file-invoice-dollar"></i> Cost Estimation
    </h3>
    <h6 style="color:steelblue" class="card-header text-center font-weight-bold text-uppercase py-4">
        @Model.ProjectName
    </h6>
    <div class="card-body">
        <div class="table-editable">
            <span class="table-add float-right mb-3 mr-2">
                <a href="#!" class="text-success"><i class="fas fa-plus fa-2x" aria-hidden="true"></i></a>
            </span>
            <form method="post">
                <input type="hidden" asp-for="BOQDTOList.BOQs[i].ID" />


                <table class="table table-bordered table-responsive-md table-striped text-center" id="table">


                    <thead>
                        <a id="b1" class="btn btn-outline-primary">Calculate Total Cost</a>
                        &nbsp;
                        <a class="btn btn-outline-primary" onclick="export2csv()">Export to Excel</a>
                        &nbsp;
                        <a class="btn btn-outline-primary" id="btPrint" onclick="createPDF()">Create PDF</a>
                        &nbsp;
                        <button type="submit" class="btn btn-primary" onclick="saved()">Save</button>
                        <tr>
                            <th class="text-center">Item Description</th>
                            <th class="text-center">Unit</th>
                            <th class="text-center">Direct Cost</th>
                            <th class="text-center">InDirect Cost</th>
                            <th class="text-center">Total Cost</th>
                            <th class="text-center">Quantity</th>
                            <th class="text-center">Unit Cost</th>
                            <th class="text-center">Sort</th>
                            <th class="text-center">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="pt-3-half">
                                <label class="form-check-label ">
                                    <input type="text" size="30" style="color: #0000ff;font-weight:bold;" asp-for="BOQDTOList.BOQs[i].Item_Description" value="Structure Element :Concrete Slabs" style="background-color:transparent;">
                                </label>



                            </th>
                            @{float cummCol = 0;
                                @foreach (var item in Model.ListOfSlabs)
                                {
                                    cummCol = cummCol + item.Slabvolume;
                                } }
                            <th>
                                <label class="form-check-label ">

                                    <input type="text" size="3" asp-for="BOQDTOList.BOQs[i].Unit" class="text-center" value="m3" style="background-color:transparent;">
                                </label>
                            </th>
                            <th style="white-space: nowrap;" class="dir1" contenteditable="true">Material-Labor</th>
                            <th style="white-space: nowrap;" class="dir2" contenteditable="true">Utilities</th>
                            <th class="slabv2 totaldir fullresult">

                            </th>
                            <th class="text-center">
                                <label>

                                    <input type="text" size="4" class="quant text-center" asp-for="BOQDTOList.BOQs[i].Quantity" value="@Math.Round(cummCol, 2)" style="background-color:transparent;">

                                </label>
                            </th>
                            <th>
                                <label>

                                    <input type="text" size="4" class="unprice" asp-for="BOQDTOList.BOQs[i].Unit_Price" style="background-color:transparent; text-align:center;">

                                </label>
                            </th>

                            <th class="pt-3-half">
                                <span class="table-up">
                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                </span>
                                <span class="table-down">
                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                </span>
                            </th>
                            <th>
                                <span class="table-remove">
                                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                        Remove
                                    </button>
                                </span>
                            </th>
                        </tr>
                        <!-- This is our clonable table line -->

                        @foreach (var slab in Model.ListOfSlabs)
                        {

                            <tr>


                                <td class="pt-3-half" contenteditable="true">@slab.SlabName</td>


                                <td class="pt-3-half" contenteditable="true">m3</td>
                                <td class="pt-3-half dir1" contenteditable="true">0</td>
                                <td class="pt-3-half dir2" contenteditable="true">0</td>
                                <td class="result slabv1 totaldir"></td>
                                <td id="v1" class="value1" contenteditable="true">
                                    @(Math.Round((slab.Slabvolume),2))
                                </td>
                                <td class="value2" contenteditable="true"></td>
                                <td class="pt-3-half">
                                    <span class="table-up">
                                        <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                    </span>
                                    <span class="table-down">
                                        <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                                <td>
                                    <span class="table-remove">
                                        <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                            Remove
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        }



                        <!-- Beam Element-->
                        <span style="display:none;">@{i++;}</span>
                        <tr>
                            <th class="pt-3-half">

                                <label class="form-check-label ">
                                    <input type="text" size="30" style="color: #0000ff;font-weight:bold;" asp-for="BOQDTOList.BOQs[i].Item_Description" value="Structure Element :Concrete Beams" style="background-color:transparent;">
                                </label>


                            </th>

                            @{float cumm = 0;
                                @foreach (var item in Model.ListOfBeams)
                                {
                                    cumm = cumm + item.BeamVolum;
                                } }



                            <th>

                                <label class="form-check-label ">

                                    <input type="text" size="3" asp-for="BOQDTOList.BOQs[i].Unit" class="text-center" value="m3" style="background-color:transparent;">
                                </label>
                            </th>
                            <th style="white-space: nowrap;" class="dir1" contenteditable="true">Material-Labor</th>
                            <th style="white-space: nowrap;" class="dir2" contenteditable="true">Utilities</th>
                            <td class="fullresult beamv2 totaldir">
                            </td>
                            <th class="text-center">
                                <label>

                                    <input type="text" size="4" class="quant1 text-center" asp-for="BOQDTOList.BOQs[i].Quantity" value="@Math.Round((cumm / 1000000000),2)" style="background-color:transparent;">

                                </label>


                            </th>
                            <th class="text-center">
                                <label>

                                    <input type="text" size="4" class="unprice1" asp-for="BOQDTOList.BOQs[i].Unit_Price" style="background-color:transparent; text-align:center;">

                                </label>
                            </th>


                            <td class="pt-3-half">
                                <span class="table-up">
                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                </span>
                                <span class="table-down">
                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                </span>
                            </td>
                            <td>
                                <span class="table-remove">
                                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                        Remove
                                    </button>
                                </span>
                            </td>

                        </tr>
                        @foreach (var Beam in Model.ListOfBeams)
                        {
                            <tr>
                                <td class="pt-3-half" contenteditable="true">@Beam.BeamName</td>
                                <td class="pt-3-half" contenteditable="true">m3</td>
                                <td class="pt-3-half dir1" contenteditable="true">0</td>
                                <td class="pt-3-half dir2" contenteditable="true">0</td>
                                <td class="result beamv1 totaldir"></td>
                                <td id="v1" class="value1" contenteditable="true">
                                    @Math.Round((Beam.BeamVolum / 1000000000), 2)
                                </td>

                                <td class="value2" contenteditable="true"></td>


                                <td class="pt-3-half">
                                    <span class="table-up">
                                        <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                    </span>
                                    <span class="table-down">
                                        <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                                <td>
                                    <span class="table-remove">
                                        <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                            Remove
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        }

                        <!-- Wall Element-->
                        <span style="display:none;">@{i++;}</span>
                        <tr>
                            <th class="pt-3-half">
                                <label class="form-check-label ">
                                    <input type="text" size="30" style="color: #0000ff;font-weight:bold;" asp-for="BOQDTOList.BOQs[i].Item_Description" value="Architecture Element:Walls" style="background-color:transparent;">
                                </label>

                            </th>

                            @{double cumm1 = 0;
                                @foreach (var item in Model.ListOfWalls)
                                {
                                    cumm1 = cumm1 + item.WallVolum;
                                } }
                            <th>

                                <label class="form-check-label ">

                                    <input type="text" size="3" asp-for="BOQDTOList.BOQs[i].Unit" class="text-center" value="m3" style="background-color:transparent;">
                                </label>
                            </th>
                            <th style="white-space: nowrap;" class="dir1" contenteditable="true">Material-Labor</th>
                            <th style="white-space: nowrap;" class="dir2" contenteditable="true">Utilities</th>
                            <td class="fullresult wallv2 totaldir">
                            </td>
                            <th class="text-center">
                                <label>

                                    <input type="text" size="4" class="quant2 text-center" asp-for="BOQDTOList.BOQs[i].Quantity" value="@Math.Round((cumm1 / 1000000000),2)" style="background-color:transparent;">

                                </label>


                            </th>
                            <th>
                                <label class="text-center">

                                    <input type="text" size="4" class="unprice2" asp-for="BOQDTOList.BOQs[i].Unit_Price" style="background-color:transparent; text-align:center;">

                                </label>
                            </th>




                            <td class="pt-3-half">
                                <span class="table-up">
                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                </span>
                                <span class="table-down">
                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                </span>
                            </td>
                            <td>
                                <span class="table-remove">
                                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                        Remove
                                    </button>
                                </span>
                            </td>


                        </tr>
                        @foreach (var wall in Model.ListOfWalls)
                        {

                            <tr>
                                <td class="pt-3-half" contenteditable="true">@wall.WallName</td>

                                <td class="pt-3-half" contenteditable="true">m3</td>
                                <td class="pt-3-half dir1" contenteditable="true">0</td>
                                <td class="pt-3-half dir2" contenteditable="true">0</td>
                                <td class="result wallv1 totaldir"></td>
                                <td id="v1" class="value1" contenteditable="true">
                                    @Math.Round((wall.WallVolum / 1000000000), 2)


                                </td>
                                <td class="value2" contenteditable="true"></td>










                                <td class="pt-3-half">
                                    <span class="table-up">
                                        <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                    </span>
                                    <span class="table-down">
                                        <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                                <td>
                                    <span class="table-remove">
                                        <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                            Remove
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        }


                        <!-- Coloum Element-->

                        <tr>
                            <th class="pt-3-half">
                                <span style="display:none;">@{i++;}</span>

                                <label class="form-check-label ">
                                    <input type="text" size="30" style="color: #0000ff;font-weight:bold;" asp-for="BOQDTOList.BOQs[i].Item_Description" value="Structure Element :Concrete Column" style="background-color:transparent;">
                                </label>

                            </th>


                            @{float cumm2 = 0;

                                @foreach (var item in Model.ListOfColumns)
                                {
                                    cumm2 = cumm2 + item.ColumVolum;

                                } }
                            <th>
                                <label class="form-check-label ">

                                    <input type="text" size="3" asp-for="BOQDTOList.BOQs[i].Unit" class="text-center" value="m3" style="background-color:transparent;">
                                </label>
                            </th>
                            <th style="white-space: nowrap;" class="dir1" contenteditable="true"> Material-Labor</th>
                            <th style="white-space: nowrap;" class="dir2" contenteditable="true">Utilities</th>

                            <td class="fullresult colv2 totaldir">
                            </td>
                            <th class="text-center">
                                <label>

                                    <input type="text" size="4" class="quant3 text-center" asp-for="BOQDTOList.BOQs[i].Quantity" value="@Math.Round((cumm2 / 1000000000),2)" style="background-color:transparent;">

                                </label>


                            </th>
                            <th class="text-center">
                                <label>

                                    <input type="text" size="4" class="unprice3" asp-for="BOQDTOList.BOQs[i].Unit_Price" style="background-color:transparent; text-align:center;">

                                </label>
                            </th>

                            <td class="pt-3-half">
                                <span class="table-up">
                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                </span>
                                <span class="table-down">
                                    <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                </span>
                            </td>

                            <td>
                                <span class="table-remove">
                                    <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                        Remove
                                    </button>
                                </span>
                            </td>



                        </tr>


                        @foreach (var Col in Model.ListOfColumns)
                        {
                            <tr>
                                <td class="pt-3-half" contenteditable="true">@Col.ColumName</td>
                                <td class="pt-3-half" contenteditable="true">m3</td>
                                <td class="pt-3-half dir1" contenteditable="true">0</td>
                                <td class="pt-3-half dir2" contenteditable="true">0</td>
                                <td class="result colv1 totaldir"></td>
                                <td id="v1" class="value1" contenteditable="true">

                                    @Math.Round((Col.ColumVolum / 1000000000), 2)
                                </td>
                                <td class="value2" contenteditable="true"></td>

                                <td class="pt-3-half">
                                    <span class="table-up">
                                        <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a>
                                    </span>
                                    <span class="table-down">
                                        <a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a>
                                    </span>
                                </td>
                                <td>
                                    <span class="table-remove">
                                        <button type="button" class="btn btn-danger btn-rounded btn-sm my-0">
                                            Remove
                                        </button>
                                    </span>
                                </td>

                            </tr>
                        }



                    </tbody>

                </table>

            </form>
        </div>

    </div>


    <script>

        $(function () {

            $('#b1').click(function () {
                var Totalslab = 0;
                var Totalbeam = 0;
                var Totalwall = 0;
                var Totalcol = 0;
                var Totalcost = 0;
                $('#table tr').each(function (i) {
                    var sum = parseFloat($(this).find('.dir1').text()) + parseFloat($(this).find('.dir2').text());
                    $(this).find('.totaldir').text(sum.toFixed(2));
                    Totalslab += (+$(this).find('.slabv1').text());
                    $('#table tr ').find('.slabv2').text(Totalslab.toFixed(2));

                    Totalbeam += (+$(this).find('.beamv1').text());
                    $('#table tr ').find('.beamv2').text(Totalbeam.toFixed(2));

                    Totalwall += (+$(this).find('.wallv1').text());
                    $('#table tr ').find('.wallv2').text(Totalwall.toFixed(2));

                    Totalcol += (+$(this).find('.colv1').text());
                    $('#table tr ').find('.colv2').text(Totalcol.toFixed(2));

                    Totalcost += (+$(this).find('.result').text());
                    $('#table tr ').find('#totalcost').text(Totalcost.toFixed(2));

                    var unitcost = parseFloat($(this).find('.result').text()) / parseFloat($(this).find('.value1').text());
                    $(this).find('.value2').text(unitcost.toFixed(2));


                });
                var unpriceslab = $('#table tr ').find('.slabv2').text() / $('#table tr ').find('.quant').val();

                $('#table tr ').find('.unprice').val(unpriceslab.toFixed(2));

                var unpricesbeam = $('#table tr ').find('.beamv2').text() / $('#table tr ').find('.quant1').val();

                $('#table tr ').find('.unprice1').val(unpricesbeam.toFixed(2));

                var unpricewall = $('#table tr ').find('.wallv2').text() / $('#table tr ').find('.quant2').val();

                $('#table tr ').find('.unprice2').val(unpricewall.toFixed(2));


                var unpricecol = $('#table tr ').find('.colv2').text() / $('#table tr ').find('.quant3').val();

                $('#table tr ').find('.unprice3').val(unpricecol.toFixed(2));

            })
        });







    </script>

    <script>
        const $tableID = $('#table'); const $BTN = $('#export-btn'); const $EXPORT = $('#export');
        const newTr = `
<tr class="hide">


                                                                                <td class="pt-3-half" contenteditable="true"></td>
                                                                                    <td class="pt-3-half" contenteditable="true">M3</td>
                                                                                    <td class="value2" contenteditable="true">0</td>
                                                                                            <td id="v1" class="value1" contenteditable="true">0
                                                                                            <td class="result wallv1" contenteditable="true"></td>
                                                                                                  <td class="result wallv1" contenteditable="true">0</td>
<td class="result wallv1" contenteditable="true"></td>
                                                                                          <td class="pt-3-half">
                                                                                            <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i></a></span>
                                                                                            <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down" aria-hidden="true"></i></a></span>
                                                                                          </td>
                                                                                          <td>
                                                                                            <span class="table-remove"><button
                                                                                                type="button"
                                                                                                class="btn btn-danger btn-rounded btn-sm my-0 waves-effect waves-light" onblur="calculatTotalCost()">
                                                                                                Remove
                                                                                              </button></span>
                                                                                          </td>
</tr>
`;

        $('.table-add').on('click', 'i', () => {
            const $clone = $tableID.find('tbodytr').last().clone(true).removeClass('hide table-line'); if ($tableID.find('tbody tr').length >= 0) {
                $('tbody').append(newTr); $tableID.find('table').append($clone);
            }
        });
        $tableID.on('click', '.table-remove', function () { $(this).parents('tr').detach(); });
        $tableID.on('click', '.table-up', function () { const $row = $(this).parents('tr'); if ($row.index() === 0) { return; } $row.prev().before($row.get(0)); });
        $tableID.on('click', '.table-down', function () { const $row = $(this).parents('tr'); $row.next().after($row.get(0)); }); // A few jQuery helpers for exporting only jQuery.fn.pop = [].pop;
        jQuery.fn.shift = [].shift;
        $BTN.on('click', () => {
            const $rows = $tableID.find('tr:not(:hidden)'); const headers = []; const data = []; // Get the headers(add special header logic here)
            $($rows.shift()).find('th:not(:empty)').each(function () { headers.push($(this).text().toLowerCase()); }); // Turn all existing rows into a loopablearray
            $rows.each(function () {
                const $td = $(this).find('td'); const h = {}; // Use the headers from earlier to name our hash keys headers.
                forEach((header, i) => {
                    h[header] = $td.eq(i).text();
                });
                data.push(h);
            }); // Output the result
            $EXPORT.text(JSON.stringify(data));
        });
    </script>







    <script>
        function saved() {
            alert("data saved successfully");
        }
    </script>


    <script>
        function export2csv() {
            let data = "";
            const tableData = [];
            const rows = document.querySelectorAll("table tr");
            for (const row of rows) {
                const rowData = [];
                for (const [index, column] of row.querySelectorAll("th, td").entries()) {
                    // To retain the commas in the "Description" column, we can enclose those fields in quotation marks.
                    if ((index + 1) % 3 === 0) {
                        rowData.push('"' + column.innerText + '"');
                    } else {
                        rowData.push(column.innerText);
                    }
                }
                tableData.push(rowData.join(","));
            }
            data += tableData.join("\n");
            const a = document.createElement("a");
            a.href = URL.createObjectURL(new Blob([data], { type: "text/csv" }));
            a.setAttribute("download", "data.csv");
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
        }

    </script>
    <script>
        function createPDF() {
            var sTable = document.getElementById('table').innerHTML;

            var style = "<style>";
            style = style + "table {width: 100%;font: 17px Calibri;}";
            style = style + "table, th, td {border: solid 1px #DDD; border-collapse: collapse;";
            style = style + "padding: 2px 3px;text-align: center;}";
            style = style + "</style>";

            // CREATE A WINDOW OBJECT.
            var win = window.open('', '', 'height=700,width=700');

            win.document.write('<html><head>');
            win.document.write('<title>Profile</title>');   // <title> FOR PDF HEADER.
            win.document.write(style);          // ADD STYLE INSIDE THE HEAD TAG.
            win.document.write('</head>');
            win.document.write('<body>');
            win.document.write(sTable);
            win.document.write('</body></html>');
            win.document.close();
            win.print();



        }
    </script>

</html>